*,
*:before,
*:after {
    @include box-sizing(border-box);
}

body,
html {
    height: 100%;
}

html {
    background-color: $gray-light;
    font-family: $font-body;
}


// Images

img {
    max-width: 100%;
}



// Links

a {
    color: $link-color;
    text-decoration: underline;

    &:hover,
    &:focus {
        color: $link-color-hover;
        text-decoration: none;
    }

    &:focus {
    }
}



// Buttons

.btn {
    @include btn;
}


// Headings

h1, h2, h3, h4, h5, h6 {
    font-family: $font-head;
    letter-spacing: -.025em;

    @include at-breakpoint($tablet) {
        letter-spacing: 0;
    }
}