label {
    display: block;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
    display: block;
    width: 100%;
    height: $input-height-base;
    padding: $pv $ph;
    font-size: $font-base;
    background-color: $white;
    background-image: none;
    border: 1px solid $gray;

    &[disabled] {
        background-color: $gray;
        border: solid 1px $gray-dark;
    }
}

textarea {
    height: auto;
}

.form-group {
    @include pie-clearfix;
    margin: $pv * 2 0;
}