// ---------------------------------------------------------------------------
// Basic Grid

$container-style: fluid;

$total-columns: 4;
$column-width: 4em;
$gutter-width: 1em;
$grid-padding: 10px;

// Alternative layouts
$tablet: 40em 8;
$computer: 60em 12;

$show-grid-backgrounds: true;


// ---------------------------------------------------------------------------
// Colors

$black: #000;
$white: #fff;

$gray-dark: #aaa;
$gray: #ccc;
$gray-light: #eee;
$gray-lighter: #f6f6f6;

$green: #51BD1F;
$orange: #FF6D00;
$purple: #46084E;
$red: #E4242E;

$text-color: #444;
$link-color: $green;
$link-color-hover: $orange;


// ---------------------------------------------------------------------------
// Fonts

$font-body: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-head: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Font sizes
$font-large: 18px;
$font-base: 16px;
$font-small: 14px;
$font-small-x: 12px;


// ---------------------------------------------------------------------------
// Spacing

$pg: 10px; // general
$pv: 10px; // vertical
$ph: 10px; // horizontal


// ---------------------------------------------------------------------------
// Stuff

$border-radius-s: 3px;
$border-radius: 5px;
$border-radius-l: 10px;
