// ---------------------------------------------------------------------------
// Basic Grid

$container-style: fluid;

$total-columns: 4;
$column-width: 4em;
$gutter-width: 0em;
$grid-padding: 10px;

// Alternative layouts
$tablet: 40em 8;
$computer: 70em 12;

$show-grid-backgrounds: true;


// ---------------------------------------------------------------------------
// Colors

$black: #000;
$white: #fff;

$gray-dark: #aaa;
$gray: #ccc;
$gray-light: #eee;
$gray-lighter: #f6f6f6;

$green: #51BD1F;
$orange: #FF6D00;
$purple: #46084E;
$purple-dark: #3e0746;
$purple-light: #57205f;
$red: #E4242E;

$fb-blue: #6378A9;

$text-color: #444;
$link-color: $green;
$link-color-hover: $orange;


// ---------------------------------------------------------------------------
// Fonts

$font-body: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
$font-head: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// Font sizes
$font-large: 18px;
$font-base: 16px;
$font-small: 14px;
$font-small-x: 12px;


// ---------------------------------------------------------------------------
// Fonts

$input-height-base: 40px;


// ---------------------------------------------------------------------------
// Spacing

$pg: 10px; // general
$pv: 10px; // vertical
$ph: 10px; // horizontal


// ---------------------------------------------------------------------------
// Stuff

$border-radius-s: 3px;
$border-radius: 5px;
$border-radius-l: 10px;


// ---------------------------------------------------------------------------
// Sprites

$normal: sprite-map("icon-24/*.png");
$retina: sprite-map("icon-48/*.png");
