// Variables
@import "variables";

// Plugins
@import "compass";
@import "susy";
@import "normalize";

// Basic
@import "mixins";
@import "base";
@import "helpers";

// Layout
@import "layout/main";

// Styles
// All the colors, borders, fonts, etc...
@import "styles/main";

// ---------------------------------------------------------------------------
// Vertical Rhythm
// http://compass-style.org/reference/compass/typography/vertical_rhythm/

$base-font-size: $font-base;
$base-line-height: 24px;
$font-unit: 16px;
$relative-font-sizing: false;

$text-subscript-bottom: -0.25em;
$text-subscript-size: 75%;
$text-superscript-top: -0.5em;
$text-superscript-size: 75%;

@include establish-baseline(16px);