.footer-wrapper {
    position: relative;
}

.footer {
    background-color: $white;
    border-top: solid 1px $gray-dark;
    font-size: $font-small-x;
    margin-top: $pv * 4;
    padding: $pv 0;

    @include at-breakpoint($tablet) {
        margin-top: 0;
    }

    .copyright {
        color: $gray-darker;
        margin: 0;
        text-align: center;
    }
}