.btn-toggle-search,
.btn-toggle-menu {
    @include btn-style($gray-lighter, $green);

    &:before {
        @include fontello;
    }
}

.btn-toggle-search {
    &:before {
        content: '\e802';
    }

    .search-active & {
        background-color: $orange;

        &:before {
            color: $white;
        }
    }
}

.btn-toggle-menu {
    &:before {
        content: '\e800';
    }

    .menu-active & {
        background-color: $orange;

        &:before {
            color: $white;
        }
    }
}

.header-search {
    background-color: $green;
    padding: $pg;

    form {
        position: relative;

        a {
            display: none;
        }
    }

    input[type="text"] {
        @include border-radius(15px);
        @include inline-block;
        border: none;
        height: 30px;
        padding: 0 80px 0 10px;
        width: 100%;
    }

    .button {
        @include btn;
        @include btn-style($orange, $white);
        @include border-right-radius(15px);
        @include border-left-radius(0);
        padding: 6px 15px;
        position: absolute;
        right: 0;
        top: 0;
    }
}

.menu-active {
    &.csstransforms3d {
        .side-nav {
            @include translate3d(0, 0, 0, 0);
        }
    }
    .side-nav {
        left: 0;
    }
}