@import "fonticons";
@import "webfonts";
@import "header";
@import "footer";
@import "nav";
@import "modules";

// Pages
@import "pages/album";
@import "pages/home";
@import "pages/image";
@import "pages/page";
@import "pages/search";
@import "pages/request-service";
@import "pages/page-servicios";
@import "pages/page-quienes-somos";
@import "pages/page-404";

.content-wrapper {
    @include at-breakpoint($tablet) {
        @include background-image(linear-gradient(left, #46084e 0%, #46084e 25%, $gray-light 25%, $gray-light 100%));
    }
    @include at-breakpoint($computer) {
        @include background-image(linear-gradient(left, #46084e 0%, #46084e 16.66667%, $gray-light 16.66667%, $gray-light 100%));
    }

    .content {
        padding-bottom: $pv * 3;
    }
}


// This is the admin logged menu
#admin {
    position: absolute;
    right: $grid-padding;
    top: 0;

    h3 {
        @include adjust-font-size-to($font-small);
        background-color: $gray-dark;
        margin: 0;
        padding: 0 $ph;

        a {
            color: $black;
            text-decoration: none;
        }
    }
}

#admin_data {
    background-color: $white;
    border: solid 1px $gray-dark;
    font-size: $font-small-x;
    padding: $pv $ph * 2;
    position: absolute;
    right: $grid-padding;
    top: 24px;
    width: 123px;

    ul {
        margin: 0;
        padding: 0;
    }

    li {
        line-height: 1.5;
    }
}