// Basic album listing styles
.item-listing {
    a {
        color: $orange;
        text-decoration: none;
    }

    .album-image-number {
        &:before {
            content: "•";
            margin: 0 $ph / 2;
        }
    }

    .album-meta {
        @include adjust-font-size-to($font-small);
        color: $gray-dark;
    }

    .album-title {
        @include adjust-font-size-to($font-large);
    }
}

// Pagination
ul.pagelist { // Specific selector because is html is generated :(
    a {
        text-decoration: none;
    }

    li {
        margin: 0 3px;
    }

    .next,
    .prev {
        margin: 0;

        a,
        .disabledlink {
            @include fontello;
            background-color: $green;
            margin: 0;
            padding: 7px 17px;
            width: auto;

            &:before {
                color: $white;
            }
        }
    }

    .next,
    .prev {
        .disabledlink {
            background-color: $gray;

            &:before {
                color: $gray-dark;
            }
        }
    }

    .next a:before,
    .next .disabledlink:before {
        content: '\e803';
    }

    .prev a:before,
    .prev .disabledlink:before {
        content: '\e804';
    }

    .current {
        background-color: $orange;
        color: $white;
        padding: 3px 5px;
    }
}

// Alerts
.alert {
    background-color: $white;
    border: solid 1px $gray;
    margin: $pv * 2 0;
    padding: $pv $ph * 2;
}

.alert-success {
    background-color: lighten($green, 50%);
    border-color: $green;
    color: $green;
}


// ---------------------------------------------------------------------------
// Plugins


// Happyjs: form validator
.unhappy {
    border-color: $red;
}
.unhappyMessage {
    @include adjust-font-size-to($font-small-x, 1);
    color: $red;
}