.active-item {
    background-color: $green;
    color: $white;

    @include at-breakpoint($tablet) {
        background-color: $gray-light;
        color: $text-color;

        &:hover {
            color: $text-color;
        }
    }
}

.nav {
    @include box-shadow(-4px 0 5px -4px $black inset);
    background-color: $purple;
    font-size: $font-small;
    text-align: center;
    text-transform: uppercase;

    @include at-breakpoint($tablet) {
        text-align: left;
        text-transform: none;
    }

    li {
        margin-top: 1px;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        background-color: $purple-light;
        color: $white;
        display: block;
        line-height: 24px;
        padding: 8px $ph;
        text-decoration: none;

        @include at-breakpoint($tablet) {
            padding: 5px $ph;
        }

        &:hover {
            color: $white;
        }
    }

    .corporate-menu {
        margin-top: $pg * 2;
        padding-top: $pg * 2;

        a {
            background-color: $purple-dark;
        }

        .menu-active {
            @extend .active-item;
        }
    }

    .menu-active,
    .menu_custompage {
        @extend .active-item;
    }

    .menu_custompage {
        line-height: 44px;
    }
}