.side-nav {
    @include box-shadow(-4px 0 5px -4px $black inset);
    background-color: $purple;
    font-size: $font-small;
    text-align: center;

    li {
        margin-top: 1px;

        &:first-child {
            margin-top: 0;
        }
    }

    a {
        background-color: rgba($white, .1);
        color: $white;
        display: block;
        padding: $pg;
        text-decoration: none;
        text-transform: uppercase;

        &:hover {
            color: $white;
        }
    }

    .corporate-menu {
        margin-top: $pg * 2;
        padding-top: $pg * 2;

        a {
            background-color: rgba($black, .1);
        }
    }
}