@import "header";
@import "modules";
@import "nav";

.content-wrapper {
    //@include container;

    @include at-breakpoint($tablet) {
        @include container;
    }

    @include at-breakpoint($computer) {
        @include container;
    }
}

.inner-wrapper {
    // Just because the off-canvas menu
    background-color: $gray-light;
    position: relative;
    z-index: 2;

    .csstransitions & {
        @include transition(all .25s ease-out);
    }
}

.menu-active {
    &.csstransforms3d {
        .inner-wrapper {
            @include translate3d(70%, 0, 0, 0);
            left: 0;
        }
    }
    .inner-wrapper {
        left: 70%;
    }
}

.outer-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}