.album-social {
    border-top: solid 1px $gray-light;
    margin-top: $pv;
    padding: $pv $ph;

    .album-comments-icons,
    .fb-like,
    .twitter-share-button {
        @include inline-block(top);
    }
    .album-comments-icons {
        @include icon-24('icn-fbcomments');
        color: $fb-blue;
        margin: 0 $ph;
        position: relative;
        text-decoration: none;
        top: -4px;

        &:before {
            top: 2px;
        }
    }
}

.image-listing {
    img {
        display: block;
    }

    li {
        margin-bottom: $pv * 2;
    }
}

// Basic album listing layout
.item-listing {
    ul {
        @include reset-list-style;
        margin: 0;
        padding: 0;
    }

    .album-info {
        padding-top: 1px;
    }

    .album-meta,
    .album-title {
        padding: 0 $grid-padding;
    }

    .album-thumb {
        img {
            display: block;
        }
    }
}

// Pagination
div.pagelist {
    @include at-breakpoint($tablet) {
        text-align: center;
    }
}

ul.pagelist { // Specific selector because is html is generated :(
    @include reset-list-style;
    margin: $pv * 2 0 0;
    padding: 0;
    text-align: center;

    &.disabled_nav {
        @include opacity(.5);
    }

    li {
        @include inline-block;
    }

    .next,
    .prev {
        .disabledlink {
            display: block;
        }

        @include at-breakpoint($tablet) {
            display: inline-block;
        }
    }

    .next {
        float: right;

        @include at-breakpoint($tablet) {
            float: none;
        }

        a:before,
        .disabledlink:before {
            content: '»';
        }
    }

    .prev {
        float: left;

        @include at-breakpoint($tablet) {
            float: none;
        }


        a:before,
        .disabledlink:before {
            content: '«';
        }
    }
}