// Basic album listing layout
.item-listing {
    ul {
        @include reset-list-style;
        margin: 0;
        padding: 0;
    }

    .album-title {
        margin: 0;
    }

    .album-thumb {
        img {
            display: block;
        }
    }
}

// Pagination
ul.pagelist { // Specific selector because is html is generated :(
    @include reset-list-style;
    margin: 0;
    padding: 0;
    text-align: center;

    li {
        @include inline-block;
    }

    .next,
    .prev {
        .disabledlink {
            display: block;
        }
    }

    .next {
        float: right;
    }

    .prev {
        float: left;
    }
}