.item-listing {
    ul {
        @include reset-list-style;
        margin: 0;
        padding: 0;
    }

    .album-title {
        margin: 0;
    }

    .album-thumb {
        img {
            display: block;
        }
    }
}