.menu-active {
    &.csstransforms3d {
        .side-nav {
            @include translate3d(0, 0, 0, 0);
        }
    }
    .side-nav {
        left: 0;
    }
}

.nav {
    ul {
        margin: 0;
        padding: 0;
    }
}

.header-nav {
    display: none; // hide for mobile and show for table and up

    @include at-breakpoint($tablet) {
        display: block;
    }
}

.side-nav {
    height: 100%;
    position: absolute;
    width: 70%;
    z-index: 1;

    .csstransforms3d & {
        //@include translate3d(-100%, 0, 0, 0);
    }

    .csstransitions & {
        @include transition(all .25s ease-out);
    }
}