.album-comments {
    margin-top: $pv * 4;

    @include at-breakpoint($tablet) {
        background: white;
        margin: $pv * 4 auto $pv * 4;
        padding: $pv * 2 $pv * 2 0;
        text-align: center;
        width: 640px;
    }

    .album-comments-title {
        display: none;

        @include at-breakpoint($tablet) {
            color: $orange;
            display: block;
            font-weight: normal;
            margin-top: 0;
        }
    }
}

.album-listing {
    @include pie-clearfix;

    @include at-breakpoint($tablet) {
        padding: 0 $pg * 2 $pg * 2;
    }

    li {
        margin: 0 0 $pv;

        @include at-breakpoint($tablet) {
            @include span-columns(4);
            margin: 0;
            padding: $pg;
        }

        @include at-breakpoint($computer) {
            @include span-columns(4);
        }

        article {
            @include container;
            @include pie-clearfix;
            @include module-box;
            padding: $pg;

            @include at-breakpoint($tablet) {
                min-height: 92px;
            }
        }
    }

    .album-info {
        @include span-columns(3 omega);
        padding-left: $ph;
    }

    .album-meta,
    .album-title {
        margin: 0;
        padding: 0;
    }

    .album-title {
        font-weight: normal;
    }

    .album-thumb {
        @include span-columns(1);

        img {
            display: block;
            width: 70px;
        }
    }
}

.subalbum {
    .album-intro {
        @include module-box;
        margin: $pv 0 $pv * 2;
        padding-top: 1px;

        @include at-breakpoint($tablet) {
            margin: 0;
            padding: 0;
        }
    }

    .album-social {
        @include at-breakpoint($tablet) {
            border: none;
            margin-top: 0;
            padding: 15px $ph * 3 $pv;
        }
    }

    .image-listing {
        @include at-breakpoint($tablet) {
            padding: 0 $ph * 3;

            .csstransitions & {
                @include transition(opacity .5s ease-out);
                @include opacity(0);

                &.ready {
                   @include opacity(1);
                }
            }
        }
    }

    p,
    .page-title {
        padding: 0 $ph * 2;
    }

    .page-title {
        color: $orange;
    }
}