.home-latest-albums {
    img {
        display: block;
    }

    li {
        margin: $pv * 2 0;
    }

    .album-info {
        @include module-box;
        @include pie-clearfix;
        padding: $pv $ph;
    }

    .album-thumb {
        display: block;
    }

    .album-social {
        @include pie-clearfix;
    }

    .fb-like {
        float: right;
    }
}