.home-latest-albums {
    @include at-breakpoint($tablet) {
        padding: $pg;
    }

    @include at-breakpoint($computer) {
        padding: $pg * 2;
    }

    img {
        display: block;
    }

    li {
        margin: $pv * 2 0;

        @include at-breakpoint($tablet) {
            @include span-columns(4);
            @include nth-omega(2n);
            margin: 0;
            padding: 0 0 $pv * 2;
        }

        @include at-breakpoint($computer) {;
            @include span-columns(3, 9);

            &:nth-child(2n) {
                @include remove-omega(9);
            }

            @include nth-omega(3n);
        }
    }

    .album-info {
        @include module-box;
        @include pie-clearfix;
    }

    .album-title {
        margin: $pv 0 0;
    }

    .album-thumb {
        background-color: $white;
        display: block;
        min-height: 100px;
        text-align: center;
    }

    .album-social {
        @include pie-clearfix;
    }
}