.home-latest-albums {
    img {
        display: block;
    }

    li {
        margin: $pv * 2 0;

        @include at-breakpoint($tablet) {
            width: 33%;
        }
    }

    .album-info {
        @include module-box;
        @include pie-clearfix;
    }

    .album-title {
        margin: $pv 0 0;
    }

    .album-thumb {
        display: block;
    }

    .album-social {
        @include pie-clearfix;
    }
}