@include at-breakpoint($tablet) {
    .image {
        .content-wrapper {
            text-align: center;
        }

        .main-image {
            background-color: $white;
            display: inline-block;
            margin-top: $pv * 3;
            padding: $pg;
            text-align: center;

            img {
                display: block;
            }
        }

        div.pagelist {
            margin-bottom: $pv * 3;
        }
    }
}