.btn-submit {
    @include btn-style($orange, $white);
    width: 100%;

    @include at-breakpoint($tablet) {
        width: auto;
    }
}

.button-group {
    .alert {
        margin-bottom: 0;
    }
}

.date-time-group {
    .date-group,
    .time-group {
        @include span-columns(2);
    }

    .time-group {
        @include omega;
    }
}

.form-request-service {
    @include at-breakpoint($tablet) {
        margin: auto;
        width: 70%;
    }
    @include at-breakpoint($computer) {
        width: 60%
    }
}